.orderCard {
  padding: 24px 0 0 0;
  gap: 24px;
  border-radius: 40px;
  border-width: 2px 0 0 0;
  background: #1C1C21;
  margin: 24px 24px 0 0;
  max-width: 50vw;
  z-index: 1;

}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.date {
  color: #8585AD;
}

.orderName {
  text-align: left;
  padding-left: 24px;
}

.image {
  position: absolute;
  top: -50px;
}
.imageList {
  position: relative;
  left: 0;
}

