
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orderFeedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30vw;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiColumn {
  columns: 30px 3;
  column-gap: 5px;
}

.textBlue {
  color: #00CCCC;
}

.rightSide {
  padding-left: 60px;
}

.statusHeader {
  padding-right: 56px;
  padding-bottom: 24px;
}
.orderNumbers {
  padding-bottom: 8px;
}
.countHeader {
  padding-top: 60px;
}

.main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}