
.inputField {
  margin-top: 24px;
}
.buttonField {
  margin-top: 24px;
  margin-bottom: 80px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 20vw;
}

.info {
  margin-top: 80px;
}

.href {
  color: white;
  text-decoration: none;
}
.activeHref {
  composes: href;
  color: #61dafb;
}


.orderFeedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}