.constructor {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50vh;
}

.bottomMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px;
}

.icon {
  padding-left: 20px;
  padding-right: 40px;
}

.element {
  padding-bottom: 16px;
}

.hidden {
  visibility: hidden;
}

.identity {
  padding: 32px 0 60px 0;
}

.wait {
  padding: 8px 0 120px 0;
}
